#back_front_container {
    background-color: gray;
    border-radius: 15px;
}

#label_main_text {
    font-size: 35px;
    font-weight: bold;
    color: white;
}

#lineedit_password_name {
    background-color: darkgray;
    color: white;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    min-height: 40px;
}
